
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
}
#home{
    height: 370px;
    padding: 3px 68px;
}
#home::before{
    height: 400px;

}
#home p{
    height: 280px;
    font-size: 13px;

}


.h-primary{
    font-size: 26px;
}

#services{
    flex-direction: column;
}



#client{
    overflow: hidden;
}